<Configuration>
  <MappedFolders>
    <MappedFolder>
      <HostFolder>__BUNDLE_PATH__</HostFolder>
      <ReadOnly>true</ReadOnly>
    </MappedFolder>
  </MappedFolders>
  <LogonCommand>
    <Command>C:\Users\WDAGUtilityAccount\Desktop\__BUNDLE_FOLDER__\run.bat</Command>
  </LogonCommand>
</Configuration>
