<Configuration>
  <MappedFolders>
    <MappedFolder>
      <HostFolder>__BUNDLE_PATH__</HostFolder>
      <ReadOnly>true</ReadOnly>
    </MappedFolder>
  </MappedFolders>
  <LogonCommand>
    <Command>powershell -NoExit -ExecutionPolicy Bypass -Command "$env:CHEIME_DISPOSABLE_GUEST=1; &amp; 'C:\Users\WDAGUtilityAccount\Desktop\__BUNDLE_FOLDER__\guest-run.ps1'"</Command>
  </LogonCommand>
</Configuration>
